<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Listes partenaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-row  align="center" style="border-bottom: solid 1px; margin-bottom: 1rem; background-color: #2dd36f; color: white;">
    <ion-col size="6">
      <h6>Nom</h6>
    </ion-col>
    <ion-col size="6">
      <h6>Code</h6>
    </ion-col>
  </ion-row>

  <div *ngIf="partners && partners.length !== 0" align="center">
    <ion-row class="bord" *ngFor="let partner of partners" align="center">
      <ion-col col-6>
        <span *ngIf="partner.name">{{ partner.name }}</span>
        <span *ngIf="!partner.name">N/A</span>
      </ion-col>
      <ion-col col-6>
        <span *ngIf="partner.code">{{ partner.code }}</span>
        <span *ngIf="!partner.code">N/A</span>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="partners && partners.length === 0" align="center">
    <p>
      Aucun partenaires enregistrés !
    </p>
  </div>


</ion-content>
