.row {
  /* border-bottom: dashed 1px; 
  margin-bottom: 0.1rem; */
}



h6 {
  font-weight: 800;
}

p {
  text-transform: capitalize;
}

ion-card-subtitle {
  font-weight: bold;
}

ion-card-content {
  float: right;
  text-transform: capitalize;
}

.btn {
  margin-top: 1rem;
}
