<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div id="header" align="center">
    <img src="../../assets/logo.png" alt="">
    <h5></h5>
  </div>

  <div class="alert alert-danger" *ngIf="err.state === true" align="center">
    <span>{{  err.text }}</span>
  </div>

  <div id="main">
    <ion-item>
      <ion-label position="stacked">Adresse E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="data.password"></ion-input>
    </ion-item>
  </div>

  <div id="btn">
    <ion-button color="success" expand="block" (click)='login()'>Se connecter</ion-button>
  </div>

  <div align="center">
    <span id="signature">
      Prod By LCE
    </span>
  </div>

</ion-content>
